body{
    background-image: url("https://canalextremadura.es/sites/default/files/Media/Images/2016-10/machu-picchu-wider-view_aux.jpg");
    background-repeat:no-repeat;
    background-size: cover;
}
h1{
    padding: 10px;
}
table{
    border: 5px solid transparent;
    text-align: center;
}
table th{
    padding: 10px;
    color: gray;
}
.tabla td{
    border: 2px solid rgb(222, 226, 230);
    text-align: left !important;
}
.tabla th{
    border: 2px solid rgb(222, 226, 230);
    color: white;
    background-color: rgb(5, 66, 121);
}
.tabla{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5mm;
}
input{
    width: 70px;
    text-align: center !important;
    border: 0ch !important;
    background-color: transparent !important;
    color: black
}
.azulclaro{
    background-color: rgb(9, 120, 221) !important;
}
.azulmasclaro{
    background-color: rgb(155, 206, 251) !important;
}
.celeste{
    background-color: rgb(234, 244, 254);
}
.blanco{
    background-color: white;
}
.listo{
    padding: 10px;
    background-color: rgb(9, 120, 221) !important;
    color: white;
    border: 2px solid rgb(222, 226, 230);
    border-radius: 15px;
    margin: 10px;
    width: 70px;
    display: flex;
    justify-content: center !important;
}
.tabla .centro{
    text-align: center !important;
}
h3 p{
    color: white;
}
.logo{
    width: 200px;
    height: auto;
}
.cabezap{
    display: flex;
    flex-direction: column;
    background-color: rgb(40, 139, 239);
}
.container-fluid div ul li a {
    color: #FAC022;
}
.navbar-toggler-icon{
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
}
.navbar-toggler{
    background-color: #FAC022;
}